@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-std.min.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg: #1a1a1a;
  --txt-clr: #f2f2f2;
  --txt-clr-dim: #505050;
  --hover-clr: #f2f2f299;
  --page-padding-top: 6rem;
  --page-width: 67rem;
  --content-width: 640px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p,
h1,
h2,
h3 {
  font-size: 1rem;
}

body {
  font-family: 'Pretendard Std Variable', 'Pretendard Std', Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  background: var(--bg);
  color: var(--txt-clr);
  max-width: 100%;
  margin: 0 auto;
  padding-top: var(--page-padding-top);
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: var(--content-width);
  min-height: max-content;
  margin: 0 1rem;
  padding-bottom: 60px;
}

.txt-link {
  text-decoration: underline;
  text-decoration-color: var(--txt-clr-dim);
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}
