---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection('posts');
import '../styles/global.css';

const pageTitle = 'Blogs';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Code, Create & Evolve</h1>
  <p>A quick glimpse of my journey and growth into <em>Web Developement</em></p>

  {
    allPosts
      .map((post) => (
        <BlogPost
          url={`/posts/${post.slug}`}
          title={`${post.data.title}`}
          description={`${post.data.description}`}
        />
      ))
      .reverse()
  }
</BaseLayout>

<style>
  h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
</style>
