---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostList from '../components/BlogPostList.astro';
import '../styles/global.css';

const pageTitle = 'Blogs';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Code, Create & Evolve</h1>
  <p>A quick glimpse of my journey and growth into <em>Web Developement</em></p>

  <BlogPostList />
</BaseLayout>

<style>
  h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
</style>
