---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection('postsCollection');

// Sort posts by date (newest first)
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

import '../styles/global.css';

const pageTitle = 'Blogs';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Code, Create & Evolve</h1>
  <p>A quick glimpse of my journey and growth into <em>Web Developement</em></p>

  {
    sortedPosts.map((post) => (
      <BlogPost
        url={`/posts/${post.id}`}
        title={`${post.data.title}`}
        description={`${post.data.description}`}
        pubDate={`${post.data.pubDate.toLocaleDateString('en-US', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}`}
      />
    ))
  }
</BaseLayout>

<style>
  h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
</style>
