---
import aboutMeData from '../data/aboutme.json';
console.log(aboutMeData);
---

<h1>{aboutMeData.fullname}</h1>

<p>
  {aboutMeData.description}
</p>

<style>
  h1 {
    font-size: 1.6rem;
  }

  p {
    padding-top: 1rem;
  }
</style>
