---
import BlogPost from './BlogPost.astro';

import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');

// Get the latest 3 post
const MAX_POST = -3;
---

<section>
  <h2>Latest Blogs</h2>
  {
    allPosts
      .slice(MAX_POST)
      .map((post) => (
        <BlogPost
          url={`/posts/${post.slug}`}
          title={`${post.data.title}`}
          description={`${post.data.description}`}
        />
      ))
      .reverse()
  }
</section>

<style>
  h2 {
    font-size: 1rem;
    padding-top: 3rem;
  }
</style>
