---
import BlogPost from './BlogPost.astro';

import { getCollection } from 'astro:content';
const allPosts = await getCollection('postsCollection');

// Get the latest 3 post
const MAX_POST = -3;
---

<section>
  <h2>Latest Blogs</h2>
  {
    allPosts
      .slice(MAX_POST)
      .map((post) => (
        <BlogPost
          url={`/posts/${post.id}`}
          title={`${post.data.title}`}
          description={`${post.data.description}`}
          pubDate={`${post.data.pubDate.toLocaleDateString('en-US', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}`}
        />
      ))
      .reverse()
  }
  <p><a class='txt-link' href='/blog'>Read More</a></p>
</section>

<style>
  h2 {
    font-size: 1.6rem;
    padding-top: 3rem;
  }

  p {
    margin-top: 1.5rem;
  }

  a {
    margin-top: 1.5rem;
    font-weight: bold;
    color: var(--txt-clr);
  }
</style>
