---
const { title, url, description } = Astro.props;
---

<div>
  <a href={url}>
    <h3>{title}</h3>
  </a>
  <p>
    {description}
  </p>
</div>

<style>
  a {
    margin-top: 1rem;
    text-decoration: none;
  }

  div {
    margin-top: 2rem;
  }

  h3 {
    color: var(--txt-clr);
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--txt-clr-dim);
    text-decoration-thickness: 1px;
    text-underline-offset: 3.5px;
  }

  p {
    margin-top: 0.5rem;
    opacity: 60%;
  }
</style>
