---
import BlogPost from './BlogPost.astro';

import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
---

<section>
  <h2>Blogs</h2>
  {
    allPosts.map((post) => (
      <BlogPost url={`/posts/${post.slug}`} title={`${post.data.title}`} />
    ))
  }
</section>

<style>
  h2 {
    font-size: 1rem;
    padding-top: 3rem;
  }
</style>
