---
const { title, url, description, pubDate } = Astro.props;
---

<div class="blog-post">
  <div class="title-date">
    <a href={url}>
      <h3 class='txt-link'>{title}</h3>
    </a>
    <p class="date">{pubDate}</p>
  </div>
  <p class="description">
    {description}
  </p>
</div>

<style>
  a {
    margin-top: 1rem;
    text-decoration: none;
  }

  .title-date {
    display: flex;
    gap: .5rem;
    align-items: baseline;
  }

  .blog-post {
    margin-top: 1rem;
  }

  h3 {
    color: var(--txt-clr);
    font-size: 1rem;
  }

  .date {
    color: var(--txt-clr-dim);
    font-size: 0.8rem;
  }

  @media (max-width: 768px) {
    .date {
      display: none;
    }
  }

  .description {
    margin-top: 0.5rem;
    opacity: 60%;
  }
</style>
