---
import BlogPostList from './BlogPostList.astro';
---

<section>
  <h2>Latest Blogs</h2>
  <BlogPostList limit={3} showReadMore={true} />
</section>

<style>
  h2 {
    font-size: 1.6rem;
    padding-top: 3rem;
  }
</style>
