---
import Social from './Social.astro';

const platform = 'github';
const username = 'kamal-redzwan';
---

<footer>
  <div>
    <p>Email: hey at this domain</p>
  </div>
  <div class='socials'>
    <Social platform='Twitter' username='kamalredzwan' />
    <Social platform={platform} username={username} />
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1rem;

    width: 100%;
    height: 60px;
  }

  p {
    color: var(--txt-clr-dim);
  }
</style>
