---

---

<a href='/'>
  <svg
    width='32'
    height='32'
    viewBox='0 0 32 32'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M31.99 22.5428C32.01 21.6381 31.68 20.9333 31.01 20.3047C29.44 18.8285 27.9 17.3238 26.33 15.8381C26.12 15.6381 26.1 15.5047 26.34 15.3143C26.86 14.8762 27.37 14.4285 27.86 13.9714C29.03 12.8952 30.2 11.8095 31.35 10.7238C31.8 10.3047 31.99 9.79045 31.98 9.18093C31.97 7.14283 31.98 5.10474 31.97 3.06664C31.97 1.47617 30.57 0.0761669 28.9 0.0475954C26.33 0.00950019 23.75 0.019024 21.17 0.0571192C20.77 0.0571192 20.31 0.228548 19.98 0.457119C18.66 1.37141 17.58 2.54283 16.52 3.71426C16.28 3.98093 16.14 3.99045 15.89 3.73331C15.05 2.87617 14.2 2.02855 13.34 1.18093C12.62 0.466643 11.8 -0.0190712 10.68 -2.3622e-05C8.13001 0.0285478 5.58 -2.36222e-05 3.03 0.00950019C2.68 0.019024 2.29001 0.0856907 1.98001 0.238072C0.730005 0.857119 5.09527e-06 1.79998 0.0100051 3.19998C0.0300051 4.50474 0.0100051 5.8095 0.0100051 7.10474H5.09573e-06C5.09573e-06 8.48569 0.0100051 9.86664 5.09573e-06 11.2571C-0.0099949 11.7143 0.150005 12.1047 0.450005 12.4666C0.980005 13.1143 1.62001 13.6476 2.38001 14.0381C3.02001 14.3714 3.47001 14.3047 4.00001 13.8285C4.10001 13.7428 4.19001 13.6476 4.28001 13.5524C4.85001 12.9524 4.90001 12.4 4.44001 11.7238C4.38001 11.6285 4.28001 11.5428 4.23001 11.4381C4.10001 11.1333 3.89001 10.8285 3.88001 10.5143C3.83001 8.27617 3.81 6.02855 3.79 3.78093C3.78 3.57141 3.85001 3.46664 4.09001 3.47617C6.01001 3.49521 7.93 3.50474 9.86 3.55236C10.14 3.56188 10.48 3.69521 10.69 3.87617C11.55 4.6095 12.36 5.39045 13.22 6.12379C13.51 6.37141 13.54 6.54283 13.27 6.81902C12.11 7.95236 10.96 9.10474 9.8 10.2381C6.97001 12.9809 4.13001 15.7238 1.30001 18.4571C0.420005 19.3047 -0.129995 20.2666 0.0200051 21.5047C0.0200051 21.6285 0.0200051 21.7619 0.0200051 21.8952C0.0200051 24.2571 0.0100051 26.619 0.0200051 28.9809C0.0400051 30.4762 1.40001 31.9143 2.90001 31.9333C5.56001 31.9619 8.21 31.9143 10.87 31.9143C11.49 31.9143 12 31.7047 12.44 31.3047C12.73 31.0381 13.04 30.7809 13.33 30.5143C14.17 29.7428 15 28.9619 15.83 28.1905C16.02 28.0095 16.17 27.9524 16.4 28.1809C17.42 29.1809 18.44 30.1714 19.5 31.1333C20.04 31.6381 20.67 32.0095 21.48 32C23.97 31.9809 26.46 32 28.96 31.9428C30.51 31.9143 31.98 30.4 31.98 28.9333C31.98 26.8 31.95 24.6762 31.98 22.5428H31.99ZM27.83 28.5238C26.15 28.5047 24.47 28.4952 22.79 28.4952C22.36 28.4952 22.01 28.3619 21.7 28.0762C19.86 26.3428 18.02 24.619 16.18 22.8762L13.36 25.5619V25.5809L13.12 25.8095C12.73 26.1714 12.34 26.5333 11.96 26.8952L11.27 27.5524C11.12 27.6952 10.96 27.8476 10.81 28C10.49 28.3238 10.13 28.4666 9.67 28.4666C7.87 28.4762 6.06001 28.4952 4.26001 28.5333C3.93001 28.5333 3.84 28.4095 3.84 28.1238C3.84 27 3.84 25.8762 3.84 24.7524H3.82C3.82 23.6762 3.83 22.5905 3.82 21.5047C3.81 21.0952 3.98001 20.7905 4.27001 20.5143C6.38001 18.4857 8.49001 16.4666 10.6 14.4381C13.84 11.3238 17.08 8.19998 20.32 5.08569C20.76 4.66664 21.2 4.2476 21.63 3.81902C21.88 3.57141 22.16 3.43807 22.52 3.43807C24.23 3.43807 25.94 3.43807 27.65 3.4095C28.06 3.39998 28.19 3.54283 28.19 3.92379C28.17 5.42855 28.19 6.94283 28.17 8.4476C28.16 8.67617 28.02 8.95236 27.85 9.11426C26.24 10.6857 24.59 12.2095 23 13.7905C21.91 14.8666 21.82 16.219 22.81 17.4095C23.51 18.2571 24.34 19.0095 25.15 19.7619C26.06 20.6095 27.02 21.4095 27.93 22.2571C28.1 22.419 28.25 22.7047 28.25 22.9238C28.27 24.6571 28.25 26.3809 28.26 28.1143C28.26 28.4095 28.16 28.5238 27.83 28.5238Z'
      fill='#f2f2f2'></path>
  </svg>
</a>
