<nav>
  <a href='/about'>About</a>
  <a href='/projects'>Projects</a>
  <a href='/blogs'>Blogs</a>
</nav>

<style>
  nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #000;
  }
</style>
