---
const { projectNumber, projectName, description } = Astro.props;
---

<div>
  <a href='#'>
    <h2>{projectNumber}</h2>
    <h3>{projectName}</h3>
    <p>{description}</p>
  </a>
</div>

<style>
  div {
    margin-top: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h2 {
    font-size: 1rem;
    text-decoration: underline dotted var(--txt-clr);
  }

  h3 {
    font-size: 1rem;
  }

  p {
    margin-top: 0.5rem;
  }
</style>
