---
const { projectNumber, projectName, description } = Astro.props;
---

<div>
  <div>
    <a href='#'>
      <h3 class='txt-link'>{projectNumber}</h3>
    </a>
    <h4>{projectName}</h4>
    <p>{description}</p>
  </div>
</div>

<style>
  a {
    margin-top: 1rem;
    text-decoration: none;
  }

  h3 {
    font-family: 'Space Mono', monospace;
    color: var(--txt-clr);
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    margin-top: 0.5rem;
    opacity: 60%;
  }
</style>
