---
import ProjectCard from '../components/ProjectCard.astro';
---

<section>
  <h2>Projects</h2>
  <div>
    <ProjectCard
      projectNumber='#001'
      projectName='AboutMe'
      description='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
    />
    <ProjectCard
      projectNumber='#002'
      projectName='nothingYet'
      description='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
    />
    <ProjectCard
      projectNumber='#003'
      projectName='sameGoesHere'
      description='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
    />
  </div>
</section>

<style>
  h2 {
    font-size: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    row-gap: 1.25rem;
  }
</style>
