---
import ProjectCard from '../components/ProjectCard.astro';
import projectData from '../data/projects.json';
---

<section>
  <h2>Projects</h2>
  <div>
    {
      projectData.map((project) => {
        return (
          <ProjectCard
            projectNumber={project.projectNumber}
            projectName={project.projectName}
            description={project.description}
          />
        );
      })
    }
  </div>
</section>

<style>
  h2 {
    font-size: 1.4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  div {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2.5rem;
    row-gap: 1.25rem;
  }

  @media (min-width: 768px) {
    div {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    div {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
