---
import BaseLayout from './BaseLayout.astro';
import { fade } from 'astro:transitions';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <a class='backBtn txt-link' href='javascript:history.back()'>Go Back</a>
  <div class='titleWithDate'>
    <h1 class='title'>{frontmatter.title}</h1>
    <p class='pubDate'>{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' })}</p>
  </div>

  <p class='description' transition:animate={fade({ duration: '1s' })}>
    {frontmatter.description}
  </p>

  <slot />
</BaseLayout>

<style is:inline>
  h1,
  h2,
  h3,
  p {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3 {
    font-size: 1.5rem;
  }

  .backBtn {
    color: var(--txt-clr-dim);
    font-style: italic;
  }

  .description {
    font-style: italic;
  }

  .titleWithDate {
    display: flex;
    gap: 1rem;
    align-items: baseline;
  }

  .pubDate {
    color: var(--txt-clr-dim);
    font-size: 0.8rem;
  }
</style>
